#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root::before {
  z-index: -1;
  content: '';
  position: absolute;
  inset: 0;
  background: gray;
  mask-image: url('brush-stroke.jpg');
  mask-size: cover;
  mask-repeat: no-repeat;
}

.prompt {
  font-size: min(3rem, 10vmin);
}
